nav{
    display: flex; 
    align-items: center;
    padding: 10px;
    background-color: rgb(171, 92, 210);

}

a{
    text-decoration: none;
    color: azure;
    font-size:x-large;

}


body{
background-color: rgb(5, 70, 192);
}